* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  position: relative;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

#app {
  position: relative;
}

@font-face {
  font-family: Caveat;
  src: url(../lib/fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: Caveat-B;
  src: url(../lib/fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: "Lato";
  src: url(../lib/fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato-I";
  src: url(../lib/fonts/Lato/Lato-Italic.ttf);
}
@font-face {
  font-family: "Lato-B";
  src: url(../lib/fonts/Lato/Lato-Black.ttf);
}
.yellow-button {
  height: 50px;
  width: fit-content;
  min-width: 140px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Caveat;
  font-size: 1.6em;
  border: none;
  border-radius: 26px;
  background-color: #FFD972;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.1882352941);
}
.yellow-button * {
  padding: 20px 40px;
}

.yellow-button:hover {
  background-color: #ecc046;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
  position: absolute;
  z-index: 90;
}
nav .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-menu {
  display: none;
  border: transparent;
  background-color: transparent;
  z-index: 99;
}
nav .nav-menu svg {
  height: 40px;
  width: 50px;
}
nav .nav-menu svg * {
  fill: black;
}
nav .nav-menu:hover {
  cursor: pointer;
}
nav .nav-menu:hover * {
  fill: #393939;
}

.links a {
  width: fit-content;
  padding: 2px;
  font-family: Caveat;
  font-size: 1.6em;
  margin-right: 2.5vw;
  color: #000;
  text-decoration: none;
  text-align: center;
}
.links a:hover {
  color: #393939;
}
.links .active-page {
  border-bottom: 2px #000 solid;
}
.links .active-page:hover {
  border-bottom: 2px #393939 solid;
}

#menu {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: none;
  z-index: 99;
}
#menu .menu-offclick {
  height: 100vh;
  width: 40%;
  z-index: 98;
}
#menu .menu-links {
  height: 100vh;
  width: 60%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.1882352941);
  background-color: #FFF;
}
#menu .menu-links a {
  margin-bottom: 20px;
}
#menu .menu-links svg {
  margin: 0 0 40px 40px;
}
#menu .menu-links .yellow-button {
  position: absolute;
  bottom: 40px;
}

@media screen and (max-width: 900px) {
  nav .nav-links {
    display: none;
  }
  nav .nav-menu {
    display: block;
  }
}
#home {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(242, 92, 84, 0.5764705882), rgba(242, 92, 84, 0.5764705882)), url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#home .home-bubbles {
  height: 400px;
  width: 480px;
  text-align: center;
  position: relative;
}
#home .home-bubbles p {
  font-family: Lato;
}
#home .home-bubbles .bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.1882352941);
}
#home .home-bubbles .main-bubble {
  width: 360px;
  height: 360px;
  padding: 100px;
  position: absolute;
  bottom: 0;
  z-index: 90;
  background-color: #FFD972;
}
#home .home-bubbles .main-bubble span {
  font-family: Caveat-B;
  font-size: 1.6em;
}
#home .home-bubbles .main-bubble p {
  font-size: 1em;
}
#home .home-bubbles .sub-bubble {
  height: 180px;
  width: 180px;
  padding: 30px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 89;
  background-color: #EFA7A7;
}
#home .home-bubbles p {
  margin-bottom: 0;
  font-size: 0.7em;
}

#login {
  min-height: 100vh;
  width: 100vw;
  padding: 100px 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #FFD972;
}
#login p {
  font-family: Lato-I;
}
#login h2 {
  font-size: 1.8em;
  font-family: "Lato-B";
  margin-bottom: 60px;
}
#login .form-container {
  width: 30%;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#login .form-container .form {
  width: 100%;
}
#login .form-container .form input {
  width: 100%;
  padding: 5px;
  margin-bottom: 50px;
  color: #000;
  font-family: Lato;
  border: none;
  border-bottom: 3px solid #000;
  background-color: transparent;
}
#login .form-container .form input ::placeholder {
  color: #000;
  opacity: 1;
}

@media screen and (max-width: 800px) {
  #login {
    flex-direction: column;
  }
  #login .form-container {
    margin: 60px 0;
  }
}
.recipes-view {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 180px 6vw;
  background-image: linear-gradient(rgba(167, 232, 189, 0.5764705882), rgba(167, 232, 189, 0.5764705882)), url(../images/recipe-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.recipes-view h2 {
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
  font-family: Caveat;
}
.recipes-view .recipes-display {
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.recipes-view .recipes-display .display-recipe {
  height: 380px;
  width: 48%;
  margin-top: 20px;
}
.recipes-view .recipes-display .display-recipe .recipe-content {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.recipes-view .recipes-display .display-recipe .recipe-content .recipe-view-img {
  height: 100%;
  width: 56%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.recipes-view .recipes-display .display-recipe .recipe-content .recipe-view-details {
  height: 100%;
  width: 44%;
  position: relative;
  padding: 6% 8%;
  font-family: Lato;
  font-size: 0.7em;
  border-radius: 20px;
  background-color: #FFF;
}
.recipes-view .recipes-display .display-recipe .recipe-content .recipe-view-details .recipe-details-title {
  font-family: Lato;
  font-weight: bold;
  font-size: 1.6em;
  color: #000;
  text-decoration: none;
  border-bottom: #000 2px solid;
}
.recipes-view .recipes-display .display-recipe .recipe-content .recipe-view-details .recipe-details-desc {
  margin: 16px 0 24px 0;
}
.recipes-view .recipes-display .display-recipe .recipe-content .recipe-view-details .recipe-details-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1%;
  border-radius: 20px;
  position: absolute;
  left: 0;
  bottom: 2%;
  background-color: #FFF;
}
.recipes-view .recipes-display .display-recipe .recipe-content .recipe-view-details .recipe-details-info .icon-text {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.recipes-view .recipes-display .display-recipe .recipe-content .recipe-view-details .recipe-details-info .icon-text tr {
  width: 80%;
}
.recipes-view .recipes-display .display-recipe .recipe-content .recipe-view-details .recipe-details-info .icon-text img {
  height: 20px;
  width: 20px;
  margin: 0 20px 16px 0;
}
.recipes-view .recipes-display .display-recipe #view-button a {
  text-decoration: none;
}
.recipes-view .recipes-display .display-recipe #user-buttons {
  width: 56%;
  display: flex;
  justify-content: space-between;
}
.recipes-view .recipes-display .display-recipe #user-buttons a {
  text-decoration: none;
}
.recipes-view .recipes-display .display-recipe #user-buttons button {
  width: 49%;
  margin-top: 20px;
}

@media screen and (max-width: 1100px) {
  .recipes-view .recipes-display {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  .recipes-view .recipes-display .display-recipe {
    width: 80%;
    max-width: 700px;
  }
}
@media screen and (max-width: 800px) {
  .recipes-view .recipes-display .display-recipe {
    height: 480px;
    width: 96vw;
    max-width: 400px;
  }
  .recipes-view .recipes-display .display-recipe .recipe-content {
    height: 80%;
    text-align: center;
    flex-direction: column;
  }
  .recipes-view .recipes-display .display-recipe .recipe-content .recipe-view-img {
    height: 300px;
    width: 100%;
  }
  .recipes-view .recipes-display .display-recipe .recipe-content .recipe-view-details {
    min-height: 56%;
    height: fit-content;
    width: 100%;
    padding: 30px 20px 140px 20px;
  }
  .recipes-view .recipes-display .display-recipe #user-buttons {
    width: 100%;
  }
}
.createForm, .editForm {
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 210px;
  padding-bottom: 210px;
}
.createForm #greeting, .editForm #greeting {
  font-size: 1.3em;
  font-family: Caveat;
  margin-bottom: 75px;
}
.createForm .details, .editForm .details {
  width: 100%;
  position: relative;
}
.createForm .details input, .editForm .details input {
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 80px;
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: 1em;
  font-family: Lato;
  border: 0px;
  border-bottom: 3px solid black;
  outline: none;
}
.createForm .details input[type=url], .editForm .details input[type=url] {
  height: 50px;
}
.createForm .details .fileBtn, .editForm .details .fileBtn {
  cursor: pointer;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
  width: 110px;
  height: 36px;
  border: 0px;
  border-radius: 20px;
  background-color: #EFA7A7;
  font-family: Caveat;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
}
.createForm .instructions, .editForm .instructions {
  width: 100%;
  position: relative;
}
.createForm .instructions h4, .editForm .instructions h4 {
  font-family: Lato;
  font-weight: normal;
  font-size: 20px;
}
.createForm .instructions #addStepBtn, .editForm .instructions #addStepBtn {
  z-index: 50;
  width: 50px;
  height: 50px;
  background-color: #EFA7A7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.createForm .instructions #addStepBtn p, .editForm .instructions #addStepBtn p {
  margin-bottom: 0px;
  z-index: 50;
}
.createForm .instructions input, .editForm .instructions input {
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 80px;
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: 1em;
  font-family: Lato;
  border: 0px;
  border-bottom: 3px solid black;
  outline: none;
}
.createForm .ingredients, .editForm .ingredients {
  width: 100%;
  position: relative;
}
.createForm .ingredients h4, .editForm .ingredients h4 {
  font-family: Lato;
  font-weight: normal;
  font-size: 20px;
}
.createForm .ingredients #addBtn, .editForm .ingredients #addBtn {
  z-index: 50;
  width: 50px;
  height: 50px;
  background-color: #EFA7A7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.createForm .ingredients #addBtn p, .editForm .ingredients #addBtn p {
  margin-bottom: 0px;
  z-index: 50;
}
.createForm .ingredients input, .editForm .ingredients input {
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 80px;
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: 1em;
  font-family: Lato;
  border: 0px;
  border-bottom: 3px solid black;
  outline: none;
}
.createForm .buttonCenter, .editForm .buttonCenter {
  margin: 0 auto;
  width: 430px;
}
.createForm .buttonCenter #submitRecipeBtn, .editForm .buttonCenter #submitRecipeBtn {
  width: 425px;
  height: 50px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background-color: #EFA7A7;
  font-family: Caveat;
  font-size: 1.3em;
}

@media screen and (max-width: 425px) {
  .createForm .buttonCenter, .editForm .buttonCenter {
    width: 100%;
  }
  .createForm .buttonCenter #submitRecipeBtn, .editForm .buttonCenter #submitRecipeBtn {
    width: 100%;
  }
}
.recipeDetails {
  width: 80%;
  margin: 0 auto;
  padding-top: 210px;
  padding-bottom: 210px;
  position: relative;
}
.recipeDetails h2 {
  font-family: Lato;
  font-size: 25px;
  margin-bottom: 35px;
  font-weight: normal;
  letter-spacing: 5px;
}
.recipeDetails h3 {
  font-family: Lato;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 5px;
}
.recipeDetails p {
  font-family: Caveat;
  font-size: 20px;
}
.recipeDetails #recipeName {
  position: absolute;
  top: 25em;
  left: -10em;
  rotate: -90deg;
  z-index: 20;
}
.recipeDetails #recipeName h5 {
  font-family: Lato;
  font-weight: normal;
  text-transform: lowercase;
  letter-spacing: 5px;
  font-size: 35px;
  margin-bottom: 0px;
}
.recipeDetails .recipeOverview {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 50px;
}
.recipeDetails .recipeOverview #recipeImage {
  width: 45%;
  height: 420px;
  overflow: hidden;
}
.recipeDetails .recipeOverview #recipeImage img {
  width: 100%;
}
.recipeDetails .recipeOverview .aboutRecipe {
  width: 40%;
}
.recipeDetails .ingredientsList, .recipeDetails .instructionsList {
  margin-bottom: 60px;
}
.recipeDetails button {
  background-color: #FFD972;
  border: none;
  border-radius: 20px;
  height: 45px;
  width: 130px;
  font-family: Caveat;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .recipeDetails {
    width: 60%;
  }
  .recipeDetails #recipeName {
    top: 22em;
    left: -10em;
  }
  .recipeDetails .recipeOverview {
    flex-direction: column;
  }
  .recipeDetails .recipeOverview #recipeImage {
    height: 420px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 58px;
  }
  .recipeDetails .recipeOverview #recipeImage img {
    height: 100%;
    width: auto;
  }
  .recipeDetails .recipeOverview .aboutRecipe {
    width: 100%;
  }
}
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
  position: absolute;
  bottom: 0;
  z-index: 90;
}
footer * {
  font-size: 1em;
  font-family: Lato;
  font-style: italic;
  color: #393939;
  margin-bottom: 0;
}
footer .footer-links {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-links a {
  color: #393939;
  font-family: Lato;
  text-decoration: none;
}
footer .footer-socials {
  width: 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-socials img {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 40px 10px;
  }
}
@media screen and (max-width: 550px) {
  footer {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  footer .footer-copy {
    order: 1;
  }
  footer .footer-links {
    order: 3;
    width: 80%;
    margin: 0 auto;
  }
  footer .footer-socials {
    order: 2;
    width: 20%;
  }
}

/*# sourceMappingURL=styles.css.map */
