* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  position: relative;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

#app {
  position: relative;
}

@font-face {
  font-family: Caveat;
  src: url(../lib/fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: Caveat-B;
  src: url(../lib/fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: "Lato";
  src: url(../lib/fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato-I";
  src: url(../lib/fonts/Lato/Lato-Italic.ttf);
}
@font-face {
  font-family: "GillSans-L";
  src: url(../lib/fonts/GillSans-Light.ttf);
}
.login-button span {
  padding: 10px 50px;
  border-radius: 26px;
  background-color: #FFD972;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.1882352941);
}
.login-button span:hover {
  background-color: #ecc046;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
  position: absolute;
  z-index: 90;
}
nav .nav-links {
  display: flex;
  justify-content: space-between;
}
nav .nav-menu {
  display: none;
  border: transparent;
  background-color: transparent;
  z-index: 99;
}
nav .nav-menu svg {
  height: 40px;
  width: 50px;
}
nav .nav-menu svg * {
  fill: black;
}
nav .nav-menu:hover {
  cursor: pointer;
}
nav .nav-menu:hover * {
  fill: #393939;
}

.links a {
  width: fit-content;
  padding: 2px;
  font-family: Caveat;
  font-size: 1.6em;
  margin-left: 40px;
  color: #000;
  text-decoration: none;
}
.links a:hover {
  color: #393939;
}
.links .active-page {
  border-bottom: 2px #000 solid;
}
.links .active-page:hover {
  border-bottom: 2px #393939 solid;
}

.menu {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  z-index: 99;
}
.menu .menu-offclick {
  height: 100vh;
  width: 40%;
  z-index: 98;
}
.menu .menu-links {
  height: 100vh;
  width: 60%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.1882352941);
  background-color: #FFF;
}
.menu .menu-links a {
  margin-bottom: 20px;
}
.menu .menu-links svg {
  margin: 0 0 40px 40px;
}
.menu .menu-links .login-button {
  position: absolute;
  bottom: 40px;
}

@media screen and (max-width: 900px) {
  nav .nav-links {
    display: none;
  }
  nav .nav-menu {
    display: block;
  }
}
#home {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(242, 92, 84, 0.5764705882), rgba(242, 92, 84, 0.5764705882)), url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#home .home-bubbles {
  height: 400px;
  width: 480px;
  text-align: center;
  position: relative;
}
#home .home-bubbles p {
  font-family: Lato;
}
#home .home-bubbles .bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.1882352941);
}
#home .home-bubbles .main-bubble {
  width: 360px;
  height: 360px;
  padding: 100px;
  position: absolute;
  bottom: 0;
  z-index: 90;
  background-color: #FFD972;
}
#home .home-bubbles .main-bubble span {
  font-family: Caveat-B;
  font-size: 1.6em;
}
#home .home-bubbles .main-bubble p {
  font-size: 1em;
}
#home .home-bubbles .sub-bubble {
  height: 180px;
  width: 180px;
  padding: 30px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 98;
  background-color: #EFA7A7;
}
#home .home-bubbles p {
  margin-bottom: 0;
  font-size: 0.8em;
}

#login {
  height: 100vh;
  width: 100vw;
  padding: 100px 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #FFD972;
}
#login .form {
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#login .form input {
  padding: 5px;
  margin-top: 50px;
  border: none;
  border-bottom: 3px solid #000;
  background-color: transparent;
}
#login .form input ::placeholder {
  color: #000;
  opacity: 1;
}

#browse {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 60px;
  background-image: linear-gradient(rgba(167, 232, 189, 0.5764705882), rgba(167, 232, 189, 0.5764705882)), url(../images/recipe-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.createForm {
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 210px;
  padding-bottom: 210px;
}
.createForm #greeting {
  font-size: 1.2em;
  font-family: Caveat;
  margin-bottom: 75px;
}
.createForm .details {
  width: 100%;
  position: relative;
}
.createForm .details input {
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 80px;
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: 1em;
  font-family: Lato;
  border: 0px;
  border-bottom: 3px solid black;
  outline: none;
}
.createForm .instructions {
  width: 100%;
  position: relative;
}
.createForm .instructions h4 {
  font-family: Lato;
  font-weight: normal;
  font-size: 20px;
}
.createForm .instructions #addStepBtn {
  z-index: 50;
  width: 50px;
  height: 50px;
  background-color: #EFA7A7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.createForm .instructions #addStepBtn p {
  margin-bottom: 0px;
  z-index: 50;
}
.createForm .instructions input {
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 80px;
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: 1em;
  font-family: Lato;
  border: 0px;
  border-bottom: 3px solid black;
  outline: none;
}
.createForm .ingredients {
  width: 100%;
  position: relative;
}
.createForm .ingredients h4 {
  font-family: Lato;
  font-weight: normal;
  font-size: 20px;
}
.createForm .ingredients #addBtn {
  z-index: 50;
  width: 50px;
  height: 50px;
  background-color: #EFA7A7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.createForm .ingredients #addBtn p {
  margin-bottom: 0px;
  z-index: 50;
}
.createForm .ingredients input {
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 80px;
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: 1em;
  font-family: Lato;
  border: 0px;
  border-bottom: 3px solid black;
  outline: none;
}
.createForm .buttonCenter {
  margin: 0 auto;
  width: 430px;
}
.createForm .buttonCenter #submitRecipeBtn {
  width: 425px;
  height: 50px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background-color: #EFA7A7;
  font-family: Caveat;
  font-size: 1.2em;
}

.recipeDetails {
  width: 80%;
  margin: 0 auto;
  padding-top: 210px;
  padding-bottom: 210px;
  position: relative;
}
.recipeDetails h2 {
  font-family: Lato;
  font-size: 25px;
  margin-bottom: 35px;
  font-weight: normal;
  letter-spacing: 5px;
}
.recipeDetails h3 {
  font-family: Lato;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 5px;
}
.recipeDetails p {
  font-family: Caveat;
  font-size: 20px;
}
.recipeDetails #recipeName {
  position: absolute;
  top: 25em;
  left: -10em;
  rotate: -90deg;
  z-index: 20;
}
.recipeDetails #recipeName h5 {
  font-family: Lato;
  font-weight: normal;
  text-transform: lowercase;
  letter-spacing: 5px;
  font-size: 35px;
  margin-bottom: 0px;
}
.recipeDetails .recipeOverview {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 50px;
}
.recipeDetails .recipeOverview #recipeImage {
  width: 45%;
  height: 420px;
  overflow: hidden;
}
.recipeDetails .recipeOverview #recipeImage img {
  width: 100%;
}
.recipeDetails .recipeOverview .aboutRecipe {
  width: 40%;
}
.recipeDetails .ingredientsList, .recipeDetails .instructionsList {
  margin-bottom: 60px;
}
.recipeDetails button {
  background-color: #FFD972;
  border: none;
  border-radius: 20px;
  height: 45px;
  width: 130px;
  font-family: Caveat;
  font-size: 20px;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
  position: absolute;
  bottom: 0;
  z-index: 90;
}
footer * {
  font-size: 1em;
  font-family: Lato;
  font-style: italic;
  color: #393939;
  margin-bottom: 0;
}
footer .footer-links {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-links a {
  color: #393939;
  font-family: Lato;
  text-decoration: none;
}
footer .footer-socials {
  width: 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-socials img {
  width: 20px;
  height: 20px;
}

/*# sourceMappingURL=styles.css.map */
