footer {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 40px 50px;

    position: absolute;
    bottom: 0;
    z-index: 90;

    * {
        font-size: $regular;
        font-family: $copyfont;
        font-style: italic;
        color: $dark-grey;
        margin-bottom: 0;
    }

    .footer-links {
        width: 40%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        
        a {
            color: $dark-grey;
            font-family: $copyfont;
            text-decoration: none;
        }
    }

    .footer-socials {
        width: 6%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            width: 20px;
            height: 20px;
        }
    }

}

@media screen and (max-width: 768px){
    footer{
        padding: 40px 10px;
    }
}

@media screen and (max-width: 550px){
    footer{
        flex-wrap: wrap;
        justify-content: space-around;
        .footer-copy{
            order: 1;
        }
        .footer-links{
            order: 3;
            width: 80%;
            margin: 0 auto;
        }
        .footer-socials{
            order: 2;
            width: 20%;
            
        }
    }
}