nav {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 40px 50px;

    position: absolute;
    z-index: 90;

    .nav-links {
        // width: 60%;

        display: flex;
        justify-content: space-between;
    }

    .nav-menu {
        display: none;

        border: transparent;
        background-color: transparent;

        z-index: 99;

        svg {
            height: 40px;
            width: 50px;

            * {
                fill: black;
            }
        }
    }

    .nav-menu:hover {
        cursor: pointer;

        * {
            fill: $dark-grey
        }
    }
}

.links {
    a {
        width: fit-content;
        padding: 2px;
        font-family: $headfont;
        font-size: $xlarge;

        margin-left: 40px;

        color: $black;
        text-decoration: none;
    }

    a:hover {
        color: $dark-grey;
    }

    .active-page {
        border-bottom: 2px $black solid;
    }

    .active-page:hover {
        border-bottom: 2px $dark-grey solid;
    }
}

#menu {
    height: 100vh;
    width: 100vw;

    position: fixed;

    display: none;

    z-index: 99;

    .menu-offclick { 
        height: 100vh;
        width: 40%;
        z-index: 98;
    }

    .menu-links {
        height: 100vh;
        width: 60%;

        padding: 40px 20px;

        display: flex;
        flex-direction: column;

        box-shadow: $shadow;

        background-color: #FFF;

        a {
            margin-bottom: 20px;
        }

        svg {
            margin: 0 0 40px 40px;
        }

        .login-button {
            position: absolute;
            bottom: 40px;
        }
    }


}

@media screen and (max-width: 900px) {
    nav {
        .nav-links {
            display: none;
        }

        .nav-menu {
            display: block;
        }
    }
}