nav {
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 40px 50px;

    position: absolute;
    z-index: 99;

    .nav-links {
        // width: 60%;

        display: flex;
        justify-content: space-between;

        a {
            padding: 2px;
            font-family: $headfont;
            font-size: $xlarge;

            margin-left: 40px;

            color: $black;
            text-decoration: none;
        }

        a:hover {
            color: $dark-grey;
        }

        .active-page {
            border-bottom: 2px $black solid;
        }

        .active-page:hover {
            border-bottom: 2px $dark-grey solid;
        }

        span {
            padding: 10px 50px;

            border-radius: 26px;
            background-color: $jungle-yellow;
            box-shadow: $shadow;
        }

        span:hover {
            background-color: $jungle-yellow-x;
        }
    }

    .nav-menu {
        display: none;

        border: transparent;
        background-color: transparent;

        svg {
            height: 40px;
            width: 50px;

            * {
                fill: black;
            }
        }
    }

    .nav-menu:hover {
        cursor: pointer;

        * {
            fill: $dark-grey
        }
    }
}

@media screen and (max-width: 900px) {
    nav {
        .nav-links {
            display: none;
        }

        .nav-menu {
            display: block;
        }
    }
}