// * {
//     border: red 1px solid;
// }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px
}

#app {
    position: relative;
}

@font-face {
    font-family: Caveat;
    src: url(../lib/fonts/Caveat-Regular.ttf);
}

@font-face {
    font-family: Caveat-B;
    src: url(../lib/fonts/Caveat-Bold.ttf);
}

@font-face {
    font-family: Gill;
    src: url(../lib/fonts/GillSans.ttf);
}

@font-face {
    font-family: Gill-I;
    src: url(../lib/fonts/GillSans-Italic.ttf);
}

@font-face {
    font-family: Gill-L;
    src: url(../lib/fonts/GillSans-Light.ttf);
}

