// * {
//     border: red 1px solid;
// }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    position: relative;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px
}

#app {
    position: relative;
}

@font-face {
    font-family: Caveat;
    src: url(../lib/fonts/Caveat-Regular.ttf);
}

@font-face {
    font-family: Caveat-B;
    src: url(../lib/fonts/Caveat-Bold.ttf);
}

@font-face {
    font-family: 'Lato';
    src: url(../lib/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Lato-I';
    src: url(../lib/fonts/Lato/Lato-Italic.ttf);
}

@font-face {
    font-family: 'GillSans-L';
    src: url(../lib/fonts/GillSans-Light.ttf);
}

.login-button {
    span {
        padding: 10px 50px;
    
        border-radius: 26px;
        background-color: $jungle-yellow;
        box-shadow: $shadow;
    }
    
    span:hover {
        background-color: $jungle-yellow-x;
    }
}