//colors
$jungle-red: #F25C54;
$jungle-green: #A7E8BD;
$jungle-salmon: #FCBCB8;
$jungle-pink: #EFA7A7;
$jungle-yellow: #FFD972;
$jungle-yellow-x: #ecc046;
$black: #000;
$white: #FFF;

//fonts
$headfont: Caveat;
$headfont-b: Caveat-B;
$copyfont: GillSans;
$copyfont-i: GillSans-I;
$copyfont-l: GillSans-L;

//text sizes
$xlarge: 24px;
$large: 15px;
$regular: 13px;
$small: 9px;

//other
$shadow: 0px 10px 6px #00000030;