//colors
$jungle-red: #F25C54;
$jungle-green: #A7E8BD;
$jungle-salmon: #91423d;
$jungle-pink: #EFA7A7;
$jungle-yellow: #FFD972;
$jungle-yellow-x: #ecc046;

$dark-grey: #393939;
$black: #000;
$white: #FFF;

$jungle-red-overlay: #F25C5493;
$jungle-green-overlay: #A7E8BD93;

//fonts
$headfont: Caveat;
$headfont-b: Caveat-B;
$copyfont: Lato;
$copyfont-i: Lato-I;
$copyfont-l: 'GillSans-L';

//text sizes
$xlarge: 1.6em;
$large: 1.3em;
$regular: 1em;
$small: .7em;

//other
$shadow: 0px 10px 6px #00000030;