<!-- VIEW RECIPE DETAILS -->
<div class="recipeDetails">

    <div class="recipeOverview">
        <div id="recipeImage">
            <!-- Load in image dynamically -->
        </div>
        <div class="aboutRecipe">
            <div id="recipeDescription">
                <h2>Description:</h2>
                <!-- Dynamically add in description -->
            </div>
            <div id="recipeTime">
                <h3>Total Time:</h3>
                <!-- Dynamically load in time -->
            </div>
            <div id="recipeServings">
                <h3>Servings:</h3>
                <!-- Dynamically load in servings -->
            </div>
        </div>
    </div>

    <div class="ingredientsList">
        <h2>Ingredients:</h2>
        <div id="ingredients">
            <!-- Dynamically load in ingredients -->
        </div>
    </div>

    <div class="instructionsList">
        <h2>Instructions:</h2>
        <div id="instructions">
            <!-- Dynamically load in all instructions -->
        </div>
    </div>

    <!-- Use this button to go to the "edit" page -->
    <button>Edit Recipe</button>

</div>
